*{
    background-color: #f7270c;
    text-align: center;
    display: inline-block;
}
.t1{
    text-align: center;
    padding: 20px;
    display: block;
    border-right: 1px solid #5f9EA0;
}
.t1 a:hover{
    background-color: green;
    color:#f7270c;
}
.t1 a:active{
    background-color: green;
    color: yellow;
}
.img1{
        width: 5%;
        display: block;
        margin: auto;
     }
.img2{
        width: 5%;
        display: block;
        margin: auto;
}

*{
    background-color: #f5fcff;
}
h2{
    text-align: center;
    color: #5f9EA0;
}
h3{
    text-align: center;
    color:#f7270c;
}
p{
    text-align: center;
}
.img3{
    width: 5%;
    display: block;
    margin: auto;
}