*{
    background-color: #f7270c;
    text-align: center;
    display:inline-block
    
}
.t1{
    text-align: center;
    padding: 20px;
    display: inline-block;
}
.t1 a:hover{ 
    background-color: green;
    color:#f7270c;
}

.img1{
        width: 5%;
        display: block;
        margin: auto;
     }
.img2{
        width: 5%;
        display: block;
        margin: auto;
}
.img3{
    width: 5%;
    display: block;
    margin: auto;
}

*{
    background-color: #ffffff;
}
h2{
    text-align: center;
    color: #5f9EA0;
}
h3{
    text-align: center;
    color:#f7270c;
}
p{
    text-align: center;
}
.img4{ height: 100px;
    width: 100px;
    margin: auto;
    display:block;
}
.t1 
  .boton 
    a :active
    { background-color: rgb(255, 255, 255);}